<section class="container form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">partner sale registration id</label>

        <div class="col-sm-4">
            <input class="form-control" type="text"
                   ng-model="controller.initialAddPartnerSaleInvoiceReqData.partnerSaleRegistrationId">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label"></label>

        <div class="col-sm-3">
            <button class="btn btn-default form-control" ng-click="controller.showAddPartnerSaleInvoiceModal()">
                add partner sale invoice
            </button>
        </div>
    </div>

    <div ng-if="controller.partnerSaleInvoice.id">
        <h4>result:</h4>

        <pre>
            {{controller.partnerSaleInvoice|json}}
        </pre>

    </div>
</section>