<section ng-form="addPartnerSaleInvoiceForm">
    <div class="modal-header">
        <button type="button"
                class="close"
                aria-label="Close"
                ng-click="controller.cancel(addPartnerSaleInvoiceForm)">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add Partner Sale Invoice</h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label
                        for="number"
                        class="col-sm-4 control-label">
                    Invoice Number
                </label>

                <div class="col-sm-8">
                    <input
                            id="number"
                            name="number"
                            type="text"
                            class="form-control"
                            ng-model="controller.addPartnerSaleInvoiceReqData.number"
                            ng-required="true"
                            ng-maxlength="40"
                            ng-minlength="1">

                    <div ng-show="addPartnerSaleInvoiceForm.number.$touched||addPartnerSaleInvoiceForm.$submitted">
                        <ng-messages class="help-block" for="addPartnerSaleInvoiceForm.number.$error">
                            <div ng-messages-include="add-partner-sale-invoice-modal/error-messages.html"></div>
                        </ng-messages>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label
                        for="file"
                        class="col-sm-4 control-label">
                    File
                </label>

                <div class="col-sm-8">
                    <input
                            id="file"
                            name="file"
                            type="file"
                            class="form-control"
                            ng-model="files"
                            ngf-select="true"
                            ngf-change="controller.handleFileSelection($files)"
                            ngf-multiple="false"
                            ng-required="true">

                    <div ng-show="addPartnerSaleInvoiceForm.file.$touched||addPartnerSaleInvoiceForm.$submitted">
                        <ng-messages class="help-block" for="addPartnerSaleInvoiceForm.file.$error">
                            <div ng-messages-include="add-partner-sale-invoice-modal/error-messages.html"></div>
                        </ng-messages>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-sm-4">
                <button
                        class="btn btn-default btn-block"
                        type="button"
                        ng-click="controller.saveAndClose(addPartnerSaleInvoiceForm)">
                    save and close
                </button>
            </div>
            <div class="col-sm-4">
                <button
                        class="btn btn-default btn-block"
                        type="button"
                        ng-click="controller.cancel(addPartnerSaleInvoiceForm)">
                    cancel
                </button>
            </div>
        </div>
    </div>
</section>